.sceditor-container {
    width: 100% !important;
    max-width: 100% !important;
    box-sizing: border-box !important;
    overflow: visible !important;
    display: block !important;
    position: relative !important;
}

.sceditor-container iframe {
    width: 100% !important;
    max-width: 100% !important;
    height: 300px !important; 
    min-height: 200px;
    box-sizing: border-box !important;
    padding: 8px !important;
    display: block !important;
    overflow: auto !important;
}

.sceditor-container .sceditor-toolbar {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    z-index: 1060 !important;
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}


.sceditor-container.sceditor-source-mode .sceditor-toolbar {
    display: block !important;
}

.sceditor-resize-cover {
    display: none !important;
}

.sceditor-button, .sceditor-button div {
    box-sizing: content-box !important;
}

.sceditor-button.sceditor-button-servimg div {
    background-image: url(https://illiweb.com/rs3/11/frm/SCEditor/src/themes/famfamfam.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    background-position: 0 -644px;
}

.sceditor-container *:not(.sceditor-button) {
    max-width: 100% !important;
    box-sizing: border-box !important;
}

.sceditor-container.resizable iframe {
    height: auto !important;
    min-height: 200px;
}



.fm-post-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}

dl.codebox dt,
.author {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

.author img {
    display: none;
}

.profile-icons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

[data-fm-faq="categories"] {
    transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

[data-fm-faq="categories"].hide {
    transform: translateY(-100%);
    opacity: 0;
}

[data-fm-faq="categories"].slide-down {
    transform: translateY(0);
    opacity: 1;
    padding: 0.5rem;
    border-radius: .25rem;
    position: sticky;
    top: 13px;
}

[id^="p"].module dl.codebox,
.content blockquote,
.message-block .message-text blockquote,
.message-block .message-text dl.codebox,
.panel .content dl.codebox,
.panel .postbody .content blockquote,
.panel .table .row1 blockquote,
.panel .table1 .row1 dl.codebox,
.post .postbody .content blockquote,
.post .postbody .content dl.codebox,
.search .postbody blockquote,
.search .postbody dl.codebox {
    background: #e7edf3 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #7089a9;
    font-size: 1.1em;
    line-height: 1.7;
    margin: 1em 25px 1em 1em;
    padding: 7px 15px;
}

dl.codebox:not(.spoiler),
dl.codebox {
    padding: 3px;
    border-radius: 3px;
    position: relative;
    background-color: #272822 !important;
    padding-right: 0 !important;
    text-shadow: 1px 1px 0 #1B1C18;
}

blockquote dl.codebox {
    margin-left: 0;
}

.mod-action {
    background-color: #39c;
    border: solid 2px #39c;
    color: #fff;
    border-radius: 3px;
    margin: 1em 25px 1em 1em;
    padding: 15px;
    display: block;
}

.mod-action tbody,
.mod-action thead {
    display: block;
    width: 100%;
}

.mod-action tbody > tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mod-action td {
    flex-grow: 1;
}

.mod-action tbody > tr > td.icon {
    font-size: 25px;
    margin-right: 15px;
    flex-grow: initial;
}

.mod-action h2, .mod-action h3, .mod-action h4 {
    color: inherit;
    font-size: 1.2em;
    margin-bottom: .4em;
}

.mod-action a {
    color: inherit;
    text-decoration: underline;
}

.mod-action a:hover {
    color: #eee;
}

.mod-action.adm, .mod-action.danger {
    border-color: #ef3333;
    background-color: #ef3333;
}

.mod-action.mod, .mod-action.success {
    border-color: #68b800;
    background-color: #68b800;
}

.mod-action.aju, .mod-action.warning {
    border-color: #f5ae42;
    background-color: #f5ae42;
}

.mod-action.art {
    border-color: #787dea;
    background-color: #787dea;
}

.mod-action.pub {
    border-color: #00b5d1;
    background-color: #00b5d1;
}

.mod-action.dev {
    border-color: #444;
    background-color: #444;
}

.faq-off img {
    max-width: 100% !important;
    height: auto !important;
}

.copy-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 100;
    color: #fff;
}

.copy-btn:hover {
    color: #fff !important;
}

.prettyprint.linenums li { list-style-type: decimal !important; background-color: #272822; }
code .typ { color: #fafafa; }
code .com { color: #ffffff; }
code .pln { color: #c5c8c6; }
code .pun { color: #c5c8c6; }
code .lit { color: #de935f; }
code .kwd { color: #b294bb; }
code .tag { color: #c66; }
code .atv { color: #8abeb7; }
code .atn { color: #de935f; }
code .str { color: #b5bd68; }

dl.codebox code {
    overflow: auto;
    display: block;
    height: auto;
    max-height: 200px;
    white-space: normal;
    padding-top: 5px;
    font: .9em Courier, CourierNew, sans-serif;
    line-height: 1.3em;
    color: #fafafa;
    margin: 2px 0;
    padding: 7px 15px;
}

.profile-icons li:empty,
.topic-title {
    display: none;
}

.tuto-off.ann .tuto-title, .tuto-off.news .tuto-title { background:#39c url(https://2img.net/i.imgur.com/l7s6MA7.png) no-repeat scroll 0 -4px !important; }

.tuto-ast-off, .tuto-jur, .tuto-jur-contain, .tuto-off { background-color: #f7f7f7; border-right: 1px solid #ddd; width: 100%; position: relative; border-spacing: 0; }

.faq-footer { background-color: #333; border-radius: 0 0 10px; color: #fff; font-family: sans-serif; font-size: .9em; width: 100%; }

.faq-contain { border-left: 75px solid #eee; border-right: 20px solid #eee; padding: 10px 20px; }

.faq-contain.reset { counter-reset: chapter; }

.faq-contain h2.post-content {
    background-color: #eee;
    border-bottom: 1px solid #ddd !important;
    font-family: sans-serif, FontAwesome;
    font-size: 1.5em;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 10px;
    counter-increment: chapter;
    counter-reset: subpart;
    color: #333 !important;
}

.faq-contain h2.post-content::before {
    background-color: #333;
    border-radius: 31px;
    box-sizing: border-box;
    color: #fff;
    content: counter(chapter, decimal);
    display: inline-block;
    height: 33px;
    margin-right: 15px;
    text-align: center;
    width: 33px;
}

.faq-contain h3.post-content { border-bottom: 1px solid #333; color: #333; counter-increment: subpart; font-family: sans-serif; padding-bottom: 5px; text-transform: unset; }

.faq-contain h3.post-content:before { content: counter(chapter) "." counter(subpart) ". "; }

.faq-copy, .faq-ast-copy { padding: 10px 20px; }

.faq-copy::before, .faq-ast-copy::before { content: "\f128"; float: right; font-family: "FontAwesome"; font-size: 6em; margin-top: 10px; }

span.thumb-up {
    display: inline-flex;
    background-color: #73BC4E !important;
    height: 29px;
    color: #DAEDD1;
    border-radius: 24px;
    padding: 6px 9px;
    font-weight: 700;
    align-items: center;
    gap: 0.25rem;
}

span.thumb-up a {
    --bs-link-color-rgb: 218, 237, 209;
    text-decoration: none;
}
